<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="./css/style.css">
      <script src="./js/app.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="./img/NodeJs.PNG" />
        <h3>Created by : {{createdBy}}</h3>
    </body>
</html>